@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

//variables
$main-font:'Open Sans Condensed', sans-serif;
$title-font:'Lato', sans-serif;

$main-color:#323544;
$secondary-color:#337AB7;

$menu-link-color:#F6F6F6;

//mixinx
@mixin darkPanel{
    .panel-heading{
            background:$secondary-color;
            color:$menu-link-color;
        }
}
    
body{
    
    /*
    *   Table of Contents
    *   
    *   1. Top Navigation Section
    *   2. Side Navigation
    *   3. Main Content
    *   4. Notifications 
    ________________________________*/
    
    font-family: $main-font;
    
    // 1. Top Nagivation
    #top-navigation{
        background:$main-color;
        color:$menu-link-color;
        a{
            color:$menu-link-color;
            font-size:0.8em;
            &:hover{
                color:$main-color;
            }
        }
        
        #title{
            color:$menu-link-color; 
            font-size:2em;
            font-family:$title-font;
            font-weight:bold;
        }
    }
    
    // 2. Side Navigation
    #main-menu{
        margin-top:5em;
        color:$main-color;
        a{
            color:$main-color;
            font-size:1.2em; 
        }
        #side-menu{
            #parish-picker-form{
                .form-group{
                    width:100%;
                    .input-group{
                        width:100%; 
                        font-weight:bold;
                    }
                }
            }
        }
        
        @media screen and (max-width: 768px){
            margin-top: 0px;
        }
    }
    
    // 3. Main Content
    #page-wrapper{        
        
        margin-top:2em;
        .page-header{
            margin-top:.5em;
        }
        
        // 4. Notifications
        #notifications{
            .panel{
                border-radius:0px;
            }
        }
        
        #forecast{
            
            @include darkPanel;
                
            border-bottom:none;
            #forecast-canvas{
                max-width:100%;
            }
        }
        
        #average{
            
            @include darkPanel;
        }
        
        #timeline{
            @include darkPanel;
        }
    }
}